<header class="header">
    <div class="header__container">
        <div class="header__part header__part--1">
            <a class="logo-link" href="/">
                <img class="header__logo" alt="logo" src="/assets/img/es_initiative_logo.png" />
            </a>
            <button class="menu-btn" type="button" aria-label="navigation">
                <div class="menu-btn__hamburger-line menu-btn__hamburger-line--1"></div>
                <div class="menu-btn__hamburger-line menu-btn__hamburger-line--2"></div>
                <div class="menu-btn__hamburger-line menu-btn__hamburger-line--3"></div>
            </button>
        </div>
        <div class="header__part header__part--2">
                <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/problems" class="nav__link">Problems</a>
                    </li>
                    <li class="nav__item">
                        <a href="/solutions" class="nav__link">Solutions</a>
                    </li>
                    <li class="nav__item">
                        <a href="/take-action" class="nav__link">Take Action</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>