<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% block pagetitle %}{% endblock pagetitle %}</title>
<meta property="og:site_name" content="Tennessee Emergency Services Initiative" />
<meta property="og:title" content="{% block title %}{% endblock title %}" />
<meta property="og:type" content="{% block type %}{% endblock type %}" />
<meta property="og:url" content="{% block ogURLPath %}{% endblock ogURLPath %}"/>
<meta property="og:image" content="{% block ogImage %}https://www.tnesi.org/assets/img/es_initiative_logo.png{% endblock ogImage %}"/>
<meta name="author" content="Hayden Bradfield" />
<meta name="description" content="Join Hayden Bradfield as he fights for better fire and emergency services in Tennessee" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />  
<link rel="stylesheet" href="/assets/style.css?v=8" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="canonical" href="{% block canonicalURLPath %}{% endblock canonicalURLPath %}" />
