{% extends 'partials/base.layout.twig' %}
{% block head %}
    {% embed 'partials/head.embed.twig' %}
        {% block pagetitle %}TNESI Articles | {{ article_title }}{% endblock pagetitle %}
        {% block type %}article{% endblock type %}
        {% block ogURLPath %}https://tnesi.org/articles/{{ slug }}{% endblock ogURLPath %}
        {% block canonicalURLPath %}https://tnesi.org/articles/{{ slug }}{% endblock canonicalURLPath %}
    {% endembed %}
{% endblock head %}
{% block main %}
<section class="article-page">
        <section class="article-page__header">
            <div class="container">
                <h1>Petition: Form the Knox County Department of Fire and Emergency Services</h1>
            </div>
        </section>
        <article class="article-page__body">
            <div class="container">
                <p>In 2019, the University of Tennessee's County Technical Assistance Service (CTAS) extension conducted a study of fire and emergency services in Knox County, Tennessee. Their findings concluded considerable flaws in our county's approach to fire and emergency services.</p>
                <p>
                Here in Knox County, if you live outside the incorporated city limits of Knoxville (living "in the county"), you are serviced by private-sector fire protection entities, one (1) being a for profit company Rural/Metro and two (2) being non-profit organizations. Most of the unincorporated county is serviced by Rural/Metro Fire, while a large portion of northwest Knox County is serviced by Karns Volunteer Fire Department (a combination paid/volunteer agency). A portion of east Knox County where the Knox, Blount, and Sevier County lines intersect is serviced by a volunteer agency: The Seymour Volunteer Fire Department. Technical rescue emergencies are handled by another volunteer agency: The Knox County Rescue Squad. Primary, 911 Emergency Medical Services (EMS) ambulances are contracted and monopolized by a private ambulance company, American Medical Response (AMR).
                </p>
                <p>
                The study highlighted issues with the subscription-based model of service pertaining to the fire operations. Findings indicated only 40%-50% of households pay the annual subscription fee, bearing the burden of residents who fail to or are unable to pay the subscription fee. While there are consequences of failing to pay a fire subsciption, including several hundred dollars for an EMS first response call and thousands of dollars for a fire, all residents still benefit from the same ISO ratings and coverage. In addition, those who are not residents of Knox County who may experience an emergency while in Knox County still benefit from these services.
                </p>
                <p>
                Many may be unaware that during a medical emergency, our fire department organizations respond to the call along with an ambulance. Firefighters are cross-trained as Emergency Medical Technicians and Paramedics, and they will respond as "first responders" in a fire engine during a medical call. Since AMR avoids penalties by having these first responder programs in place, you cannot just simply decline the fire department being dispatched. Thus, if you didn't pay your subscription fee and need an ambulance, you may be charged both the ambulance bill AND the penalty by the fire department.
                </p>
                <p>
                As it stands today, Knox County has grown vastly in population since the study was conducted. We now have a population of over half-a-million (500,000+) residents with most residing outside the City of Knoxville. Complaints have risen about manpower issues at both the Karns Fire Department and Seymour Volunteer Fire Department. Chief John Linsenbigler with the Seymour Volunteer Fire Department has appeared on local news networks to express concerns regarding the manpower. Reports show Karns Fire Department is down to 2-man engines and 1-man rescue units. The population growth and demands have placed a squeeze on our emergency response entities here in Knox County.
                </p>
                <p>
                CTAS recommended a formation of a county-wide fire department with consolidated emergency service functionalities. This would be a county-run operation. In addition, I recommended adding fire-based ambulances to the mix, as this could help offset the costs of the fire operations and generate revenue for the fire side. As stated, firefighters are already cross-trained as Emergency Medical Technicians and Paramedics and already respond to medical emergencies in a non-transport capacity. With fire-based EMS, an ambulance is housed in the same station as the fire engine, and firefighter/EMTs at the station would be split between the fire apparatus and the ambulance, rotating between the two each shift or call. The county-wide fire department would handle primary, 911 medical calls while the county can subcontract with one or more private ambulance companies to run non-emergent, pre-approved transports and interfacility transports. This would help futher offset the cost of a county-wide fire department. Between having fire-based EMS, subcontracting with private ambulance companies for non-emergency transports, and reallocating funds from non-essental county services such as new park amentities, youth sports programs, and non-K12-libraries, I project this can be doable with very-little-to-no tax increase. Plus, this will eliminate the subscription-based system where the annual fee averages to nearly $400 annually, saving Knox County residents' valuable, hard-earned money.
                </p>
                <p>
                In recent years, AMR has once struggled to arrive in a timely manner to medical emergencies. They failed to show up when a baby was seizing. They had severe delays when an elderly female fell and injured herself. When their contract was set to expire, AMR contributed campaign money to our commissionsers, then POOF!!: their contract was renewed. While one may argue their response times have improved since, you cannot deny those campaign donations likely influenced our county commissioners' decisions.
                </p>
                <p>
                I am a conservative, and I believe our government should budget and prioritize spending just like we as individuals and families have to. That being said, neglecting our public safety infrastructure, our emergency services, and the men and women who work in this field is an insult to not only those men and women but the cause. Treating fire and emergency services as a nice add-on package is a massive insult to the career and the cause. For the county to turn around and spend money on non-essentials is unacceptable. While EMS and law enforcement are classified as "essential services" and codified into state law as such, fire services are not officially deemed as such yet. I am hoping this will change down the pipeline.
                </p>
                <p>
                Please sign the petition to compel county leaders to form the Knox County Department of Fire and Emergency Services.
                </p>
                <div class="vote-box">
                    <div class="vote-box__step vote-box__step--1 show">
                        <p>Do you support the formation of the Knox County Department of Fire and Emergency Services as explained in the petition above?</p>
                        <button type="button" data-value="yes" class="vote-box__option vote-box__option--yes">YES</button>
                        <button type="button" data-value="no" class="vote-box__option vote-box__option--no">NO</button>
                    </div>
                    <div class="vote-box__step vote-box__step--2">
                        <p class="vote-select-conf-text"></p>
                        <form class="poll-vote-questionnaire">
                            <div class="form-group">
                                <p>1. Are you a Knox County, Tennessee resident?</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="is-resident" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="is-resident" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>2. Are you at least 18 years of age or older?</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="age-veri" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="age-veri" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>3. Have you voted on this poll before?</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="prev-poll-vote" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="prev-poll-vote" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group petition-sign-question">
                                <p>4. Will you be willing to sign the petition? (If wanting to sign, you will only be able to do so during this poll vote)</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="will-sign" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="will-sign" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="cast-btn">Cast Poll Vote</button>
                            <ul class="errbox poll-questionnaire-errbox"></ul>
                        </form>
                    </div>
                    <div class="vote-box__step vote-box__step--3">
                        <p>Thank you for your poll vote!</p>
                        <p>See results so far here:</p>
                        <div class="tally-bar" id="yes-tally-bar">
                            <div class="tally-bar__text">Yes</div>
                            <div class="tally-bar__outer-bar">
                                <div class="tally-bar__inner-bar"></div>
                            </div>
                        </div>
                        <div class="tally-bar" id="no-tally-bar">
                            <div class="tally-bar__text">No</div>
                            <div class="tally-bar__outer-bar">
                                <div class="tally-bar__inner-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <div class="petition-modal">
        <div class="petition-modal__dialog">
            <form class="petition-form show">
                <h2>"I support the formation of the Knox County Department of Fire and Emergency Services!"</h2>
                <p class="petition-form__priv-stmt">Your most personal information, including your street address, email, and signed initials will not be shared publically and only with appropriate officials to prove validity of the petition.</p>
                <div class="form-group">
                    <div class="text-field">
                        <label for="first-name" class="text-field__label">First Name</label>
                        <input id="first-name" type="text" class="text-field__input" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-field">
                        <label for="last-name" class="text-field__label">Last Name</label>
                        <input id="last-name" type="text" class="text-field__input" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-field">
                        <label for="email" class="text-field__label">Email</label>
                        <input id="email" type="email" class="text-field__input" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-field">
                        <label for="street1" class="text-field__label">Street Address</label>
                        <input id="street1" type="email" class="text-field__input" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-field">
                        <label for="street2" class="text-field__label">Apt./Suite</label>
                        <input id="street2" type="email" class="text-field__input" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-field">
                        <label for="zip" class="text-field__label">Zip Code</label>
                        <input id="zip" type="text" class="text-field__input" inputmode="numeric"/>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-size:1.2rem;font-weight:bold;">Please initial in the space below:</label>
                    <canvas id="sig-pad"></canvas>
                </div>
                <div class="form-group">
                    <button type="submit" class="submit-petition-btn">Submit</button>
                </div>
                <ul class="errbox petition-form-errbox"></ul>
            </form>
            <div class="thank-you-petition-message">
                <p>Thank you for signing this petition!</p>
                <button class="petition-modal__close-btn">Close</button>
            </div>
        </div>
    </div>
{% endblock main %}
{% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@5.1.3/dist/signature_pad.umd.min.js"></script>
<script>
const voteOptions = document.querySelectorAll('.vote-box__option');
const step1 = document.querySelector('.vote-box__step--1');
const step2 = document.querySelector('.vote-box__step--2');
const step3 = document.querySelector('.vote-box__step--3');
const voteSelectConfText = document.querySelector('.vote-select-conf-text');
const petitionSignQuestion = document.querySelector('.petition-sign-question');
const willSignOpts = document.getElementsByName('will-sign');
const isResidentOpts = document.getElementsByName('is-resident');
const ageVeriOpts = document.getElementsByName('age-veri');
const hasVotedOpts = document.getElementsByName('prev-poll-vote');
const pollVoteQuestionnaire = document.querySelector('.poll-vote-questionnaire');
const pollQuestionnaireErrbox = document.querySelector('.poll-questionnaire-errbox');
const castBtn = document.querySelector('.cast-btn');
const yesTallyBar = document.querySelector('#yes-tally-bar');
const noTallyBar = document.querySelector('#no-tally-bar');
const petitionModal = document.querySelector('.petition-modal');
const petitionForm = document.querySelector('.petition-form');
const petitionFormErrbox = document.querySelector('.petition-form-errbox');
const sigPad = new SignaturePad(document.querySelector('#sig-pad'));
const petitionThanks = document.querySelector('.thank-you-petition-message');
const petitionModalCloseBtn = document.querySelector('.petition-modal__close-btn');
let selectedOption;
const pollQuestionVals = {
    isResident: null,
    isOfAge: null,
    haveAlreadyVoted: null,
    willingToSign: null
}

function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

const resetPollQuestionVals = () => {
    for(let key in pollQuestionVals){
        pollQuestionVals[key] = null;
    }
}

const setPollQuestionVal = (key, value) => {
    pollQuestionVals[key] = value;
}

voteOptions.forEach(o => {
    o.addEventListener('click', evt => {
        selectedOption = evt.target.getAttribute('data-value');
        step1.classList.remove('show');
        step2.classList.add('show');

        voteSelectConfText.innerHTML = `You selected <strong>"${selectedOption}."</strong>`;

        if(selectedOption === 'yes'){
            petitionSignQuestion.classList.add('show');
        }
    });
});

willSignOpts.forEach(o => {
    o.addEventListener('change', evt => {
        pollQuestionVals.willingToSign = (evt.target.value === 'yes');
        if(evt.target.value === 'yes'){
            castBtn.innerText = 'Cast Poll Vote + Sign Petition';
            return;
        }
        castBtn.innerText = 'Cast Poll Vote';
    })
});

isResidentOpts.forEach(o => {
    o.addEventListener('change', evt => {
        pollQuestionVals.isResident = (evt.target.value === 'yes');
    });
});

ageVeriOpts.forEach(o => {
     o.addEventListener('change', evt => {
        pollQuestionVals.isOfAge = (evt.target.value === 'yes');
    });
});

hasVotedOpts.forEach(o => {
    o.addEventListener('change', evt => {
        pollQuestionVals.haveAlreadyVoted = (evt.target.value === 'yes');
    });
});

function createTallyGraph(yesVoteCount, noVoteCount){

    yesTallyBar.querySelector('.tally-bar__text').innerText = `Yes (${yesVoteCount})`;
    noTallyBar.querySelector('.tally-bar__text').innerText = `No (${noVoteCount})`;

    const totalVoteCount = +yesVoteCount + +noVoteCount;
    const yesPerc = (yesVoteCount / totalVoteCount) * 100;
    const noPerc = (noVoteCount / totalVoteCount) * 100;

    yesTallyBar.querySelector('.tally-bar__inner-bar').style.width = `${yesPerc}%`;
    noTallyBar.querySelector('.tally-bar__inner-bar').style.width = `${noPerc}%`;

}

function verifyPoll(){
    pollQuestionnaireErrbox.innerHTML = '';
    pollQuestionnaireErrbox.classList.remove('show');
    let errors = [];

    (pollQuestionVals.isResident === null) && (errors.push('Please select your residency status to Knox County, TN.'));
    (pollQuestionVals.isResident === false) && (errors.push('Sorry, you must be a Knox County, TN resident to cast the poll vote.'));
    (pollQuestionVals.isOfAge === null) && (errors.push('Please select if you are over 18.'));
    (pollQuestionVals.isOfAge === false) && (errors.push('Sorry, you must be at least 18 to cast your poll vote.'));
    (pollQuestionVals.haveAlreadyVoted === null) && (errors.push('Please select if you have already voted in this poll.'));
    (pollQuestionVals.haveAlreadyVoted === true) && (errors.push('Please vote only once in this poll.'));

    if(errors.length){
        for(let error of errors){
            pollQuestionnaireErrbox.insertAdjacentHTML('beforeend', `<li>${error}</li>`);
        }
        pollQuestionnaireErrbox.classList.add('show');
    }

    return !!!errors.length;
}

const genYesNo = val => (val ? 'yes' : 'no');

async function submitPoll(e){
    e.preventDefault();

    if(!verifyPoll()) return;

    const fd = new FormData();
    fd.append('is_resident', genYesNo(pollQuestionVals.isResident));
    fd.append('is_of_age', genYesNo(pollQuestionVals.isOfAge));
    fd.append('has_already_voted', genYesNo(pollQuestionVals.haveAlreadyVoted));
    fd.append('is_yes_vote', selectedOption);


    try{

        const response = await fetch('/process-knox-fire-poll-vote', {
            method: 'POST',
            mode: 'no-cors',
            headers: {
                'Accept': 'application/json'
            },
            body: fd
        });

        if(!response.ok){
            throw new Error();
        }

        setCookie('hasVotedKnoxPoll', 'yes', 180);

        const data = await response.json();

        step2.classList.remove('show');
        step3.classList.add('show');

        createTallyGraph(data.votedYes, data.votedNo);

        if(pollQuestionVals.willingToSign){
            petitionModal.classList.add('show');
        }

        console.log(data);


    }
    catch(e){
        pollQuestionnaireErrbox.insertAdjacentHTML('beforeend', '<li>As error has occurred.</li>');
        pollQuestionnaireErrbox.classList.add('show');
    }
}

pollVoteQuestionnaire.addEventListener('submit', submitPoll);

async function getVotes(){
    const response = await fetch('/fetch-knox-fire-votes', {
        mode: 'no-cors',
        headers: {
            'Accept': 'application/json'
        }
    });

    const data = await response.json();

    createTallyGraph(data.votedYes, data.votedNo);
}

if(getCookie('hasVotedKnoxPoll')){
    step1.classList.remove('show');
    step2.classList.remove('show');
    step3.classList.add('show');

    getVotes();
}

function validatePetitionForm(fields){
    petitionFormErrbox.innerHTML = '';
    petitionFormErrbox.classList.remove('show');
    const errors = [];
    const emailRegExp = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/gi;
    const streetRegExp = /^[0-9]{1,} ./gi;
    const zipRegExp = /^[0-9]{5}$/gi;

    (fields.firstName.value.trim().length < 2) && (errors.push('Please enter a valid first name.'));
    (fields.lastName.value.trim().length < 2) && (errors.push('Please enter a valid last name.'));
    (!emailRegExp.test(fields.email.value)) && (errors.push('Please enter a valid email address.'));
    (!streetRegExp.test(fields.street1.value)) && errors.push('Please enter a valid street address.');
    (!zipRegExp.test(fields.zip.value)) && errors.push('Please enter a valid zip code.');
    (sigPad.isEmpty()) && errors.push('Please add your initials.');

    if(errors.length){
        for(let error of errors){
            petitionFormErrbox.insertAdjacentHTML('beforeend', `<li>${error}</li>`);
        }
    }

    return !!!errors.length;



}


async function submitPetitionForm(e){
    e.preventDefault();

    const fields = {
        firstName: document.querySelector('#first-name'),
        lastName: document.querySelector('#last-name'),
        email: document.querySelector('#email'),
        street1: document.querySelector('#street1'),
        street2: document.querySelector('#street2'),
        zip: document.querySelector('#zip')
    }

    if(!validatePetitionForm(fields)) return;

    try{

        const fd = new FormData();
        fd.append('first_name', fields.firstName.value);
        fd.append('last_name', fields.lastName.value);
        fd.append('email', fields.email.value);
        fd.append('street1', fields.street1.value);
        fd.append('street2', fields.street2.value || '');
        fd.append('zip', fields.zip.value);
        fd.append('sig_initials', sigPad.toDataURL());

        console.log('first_name ', fields.firstName.value);
        console.log('last_name ', fields.lastName.value);
        console.log('email ', fields.email.value);
        console.log('street1', fields.street1.value);
        console.log('street2', fields.street2.value || '');
        console.log('zip', fields.zip.value);
        console.log('sig_initials', sigPad.toDataURL());

        const response = await fetch('/knox-fire-petition', {
            method: 'POST',
            mode: 'no-cors',
            headers: {
                'Accept': 'application/json'
            },
            body: fd
        });

        if(!response.ok){
            throw new Error();
        }

        petitionForm.classList.remove('show');
        petitionThanks.classList.add('show');



    }
    catch(err){
        petitionFormErrbox.insertAdjacentHTML('beforeend', '<li>An error has occurred.</li>');
        petitionFormErrbox.classList.add('show');
    }

}


petitionForm.addEventListener('click', submitPetitionForm);

IMask(document.querySelector('#zip'), {
    mask: '00000'
});

petitionModalCloseBtn.addEventListener('click', () => {
    petitionModal.classList.remove('show');
});

</script>
{% endblock scripts %}