{% extends 'partials/base.layout.twig' %}
{% block head %}
    {% embed 'partials/head.embed.twig' %}
        {% block pagetitle %}TNESI Articles | {{ article_title }}{% endblock pagetitle %}
        {% block type %}article{% endblock type %}
        {% block ogURLPath %}https://tnesi.org/articles/{{ slug }}{% endblock ogURLPath %}
        {% block canonicalURLPath %}https://tnesi.org/articles/{{ slug }}{% endblock canonicalURLPath %}
    {% endembed %}
{% endblock head %}
{% block main %}
<section class="article-page">
        <section class="article-page__header">
            <div class="container">
                <h1>Petition: Form the Knox County Department of Fire and Emergency Services</h1>
            </div>
        </section>
        <article class="article-page__body">
            <div class="container">
                <p>In 2019, the University of Tennessee's County Technical Assistance Service (CTAS) extension conducted a study of fire and emergency services in Knox County, Tennessee. Their findings concluded considerable flaws in our county's approach to fire and emergency services.</p>
                <p>
                Here in Knox County, if you live outside the incorporated city limits of Knoxville (living "in the county"), you are serviced by private-sector fire protection entities, one (1) being a for profit company Rural/Metro and two (2) being non-profit organizations. Most of the unincorporated county is serviced by Rural/Metro Fire, while a large portion of southwest Knox County is serviced by Karns Volunteer Fire Department (a combination paid/volunteer agency). A portion of south Knox County where the Knox, Blount, and Sevier County lines intersect is serviced by a volunteer agency: The Seymour Volunteer Fire Department. Technical rescue emergencies are handled by another volunteer agency: The Knox County Rescue Squad. Primary, 911 Emergency Medical Services (EMS) ambulanced are contracted and monopolized by a private ambulance company, American Medical Response (AMR).
                </p>
                <p>
                The study highlighted issues with the subscription-based model of service pertaining to the fire operations. Findings indicated only 40%-50% of households pay the annual subscription fee, bearing the burden of residents who fail to or are unable to pay the subscription fee. While there are consequences of failing to pay a fire subsciption, including several hundred dollars for an EMS first response call and tens of thousands of dollars per-engine/per-hour for a fire, all residents still benefit from the same ISO ratings and coverage. In addition, those who are not residents of Knox County that may experience an emergency while in Knox County still benefit from these services.
                </p>
                <p>
                Many may be unaware that during a medical emergency, our fire department organizations respond to the call along with an ambulance. Firefighters are cross-trained as Emergency Medical Technicians and Paramedics, and they will respond as "first responders" in a fire engine during a medical call. Since AMR avoids penalties by having these first responder programs in place, you cannot just simply decline the fire department being dispatched. Thus, if you didn't pay your subscription fee and need an ambulance, you may be charged both the ambulance bill AND the penalty by the fire department.
                </p>
                <p>
                As it stands today, Knox County has grown vastly in population since the study was conducted. We now have a population of over half-a-million (500,000+) residents with most residing outside the City of Knoxville. Complaints have risen about manpower issues at both the Karns Fire Department and Seymour Volunteer Fire Department. Chief John Linsenbigler with the Seymour Volunteer Fire Department has appeared on local news networks to express concerns regarding the manpower. Reports show Karns Fire Department is down to 2-man engines and 1-man rescue units. The population growth and demands have placed a squeeze on our emergency response entities here in Knox County.
                </p>
                <p>
                CTAS recommended a formation of a county-wide fire department with consolidated emergency service functionalities. This would be a county-run operation. In addition, I recommended adding fire-based ambulances to the mix, as this could help offset the costs of the fire operations and generate revenue for the fire side. As stated, firefighters are already cross-trained as Emergency Medical Technicians and Paramedics and already respond to medical emergencies in a non-transport capacity. With fire-based EMS, an ambulance is housed in the same station as the fire engine, and firefighter/EMTs at the station would be split between the fire apparatus and the ambulance, rotating between the two each shift or call. The county-wide fire department would handle primary, 911 medical calls while the county can subcontract with one or more private ambulance companies to run non-emergent, pre-approved transports and interfacility transports. This would help futher offset the cost of a county-wide fire department. Between having fire-based EMS, subcontracting with private ambulance companies for non-emergency transports, and reallocating funds from non-essental county services such as new park amentities, youth sports programs, and non-K12-libraries, I project this can be doable with very-little-to-no tax increase. Plus, this will eliminate the subscription-based system where the annual fee averages to nearly $400 annually, saving Knox County residents' valuable, hard-earned money.
                </p>
                <p>
                In recent years, AMR has once struggled to arrive in a timely manner to medical emergencies. They failed to show up when a baby was seizing. They had severe delays when an elderly female fell and injured herself. When their contract was set to expire, AMR contributed campaign money to our commissionsers, then POOF!!: their contract was renewed. While one may argue their response times have improved since, you cannot deny those campaign donations likely influenced our county commissioners' decisions.
                </p>
                <p>
                I am a conservative, and I believe our government should budget and prioritize spending just like we as individuals and families have to. That being said, neglecting our public safety infrastructure, our emergency services, and the men and women who work in this field is an insult to not only those men and women but the cause. Treating fire and emergency services as a nice add-on package is a massive insult to the career and the cause. For the county to turn around and spend money on non-essentials is unacceptable. While EMS and law enforcement are classified as "essential services" and codified into state law as such, fire services are not officially deemed as such yet. I am hoping this will change down the pipeline.
                </p>
                <p>
                Please sign the petition to compel county leaders to form the Knox County Department of Fire and Emergency Services.
                </p>
                <div class="vote-box">
                    <div class="vote-box__step vote-box__step--1 show">
                        <p>Do you support the formation of the Knox County Department of Fire and Emergency Services as explained in the petition above?</p>
                        <button type="button" data-value="yes" class="vote-box__option vote-box__option--yes">YES</button>
                        <button type="button" data-value="no" class="vote-box__option vote-box__option--no">NO</button>
                    </div>
                    <div class="vote-box__step vote-box__step--2">
                        <p class="vote-select-conf-text"></p>
                        <form class="poll-vote-questionnaire">
                            <div class="form-group">
                                <p>1. Are you a Knox County, Tennessee resident?</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="is-resident" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="is-resident" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>2. Are you at least 18 years of age or older?</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="age-veri" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="age-veri" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>3. Have you voted on this poll before?</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="prev-poll-vote" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="prev-poll-vote" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group petition-sign-question">
                                <p>4. Will you be willing to sign the petition? (If wanting to sign, you will only be able to do so during this poll vote)</p>
                                <div class="radio-tab-group">
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="will-sign" value="yes" />
                                        <div class="radio-tab-option__tab">Yes</div>
                                    </label>
                                    <label class="radio-tab-option">
                                        <input class="radio-tab-option__radio" type="radio" name="will-sign" value="no" />
                                        <div class="radio-tab-option__tab">No</div>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="cast-btn">Cast Poll Vote</button>
                            <ul class="errbox poll-questionnaire-errbox"></ul>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}
{% block scripts %}
<script>
const voteOptions = document.querySelectorAll('.vote-box__option');
const step1 = document.querySelector('.vote-box__step--1');
const step2 = document.querySelector('.vote-box__step--2');
const voteSelectConfText = document.querySelector('.vote-select-conf-text');
const petitionSignQuestion = document.querySelector('.petition-sign-question');
const willSignOpts = document.getElementsByName('will-sign');
const isResidentOpts = document.getElementsByName('is-resident');
const ageVeriOpts = document.getElementsByName('age-veri');
const hasVotedOpts = document.getElementsByName('prev-poll-vote');
const pollVoteQuestionnaire = document.querySelector('.poll-vote-questionnaire');
const pollQuestionnaireErrbox = document.querySelector('.poll-questionnnaire-errbox');
const castBtn = document.querySelector('.cast-btn');
let selectedOption;
const pollQuestionVals = {
    isResident: null,
    isOfAge: null,
    haveAlreadyVoted: null,
    willingToSign: null
}

const resetPollQuestionVals = () => {
    for(let key in pollQuestionVals){
        pollQuestionVals[key] = null;
    }
}

const setPollQuestionVal = (key, value) => {
    pollQuestionVals[key] = value;
}

voteOptions.forEach(o => {
    o.addEventListener('click', evt => {
        selectedOption = evt.target.getAttribute('data-value');
        step1.classList.remove('show');
        step2.classList.add('show');

        voteSelectConfText.innerHTML = `You selected <strong>"${selectedOption}."</strong>`;

        if(selectedOption === 'yes'){
            petitionSignQuestion.classList.add('show');
        }
    });
});

willSignOpts.forEach(o => {
    o.addEventListener('change', evt => {
        pollQuestionVals.willingToSign = (evt.target.value === 'yes');
        if(evt.target.value === 'yes'){
            castBtn.innerText = 'Cast Poll Vote + Sign Petition';
            return;
        }
        castBtn.innerText = 'Cast Poll Vote';
    })
});

isResidentOpts.forEach(o => {
    o.addEventListener('change', evt => {
        pollQuestionVals.isResident = (evt.target.value === 'yes');
    });
});

ageVeriOpts.forEach(o => {
     o.addEventListener('change', evt => {
        pollQuestionVals.isOfAge = (evt.target.value === 'yes');
    });
});

hasVotedOpts.forEach(o => {
    o.addEventListener('change', evt => {
        pollQuestionVals.haveAlreadyVoted = (evt.target.value === 'yes');
    });
});

function verifyPoll(){
    pollQuestionnaireErrbox.innerHTML = '';
    let errors = [];

    (pollQuestionVals.isResident === null) && (errors.push('Please select your residency status to Knox County, TN.'));
    (pollQuestionVals.isResident === false) && (errors.push('Sorry, you must be a Knox County, TN resident to cast the poll vote.'));
    (pollQuestionVals.isOfAge === null) && (errors.push('Please select if you are over 18.'));
    (pollQuestionVals.isOfAge === false) && (errors.push('Sorry, you must be at least 18 to cast your poll vote.'));
    (pollQuestionVals.haveAlreadyVoted === null) && (errors.push('Please select if you have already voted in this poll.'));
    (pollQuestionVals.isOfAge === false) && (errors.push('Sorry, you may only vote once in this poll.'));

    if(errors.length){
        for(let error of errors){
            pollQuestionnaireErrbox.insertAdjacentHTML('beforeend', `<li>${error}</li>`);
        }
    }

    return !!!errors.length;
}

function submitPoll(e){
    e.preventDefault();

    if(!verifyPoll()) return;
}

pollVoteQuestionnaire.addEventListener('submit', submitPoll);

</script>
{% endblock scripts %}