{% extends 'partials/base.layout.twig' %}
{% block head %}
    {% embed 'partials/head.embed.twig' %}
        {% block pagetitle %}TNESI Articles | {{ article_title }}{% endblock pagetitle %}
        {% block type %}article{% endblock type %}
        {% block ogURLPath %}https://tnesi.org/articles/{{ slug }}{% endblock ogURLPath %}
        {% block canonicalURLPath %}https://tnesi.org/articles/{{ slug }}{% endblock canonicalURLPath %}
    {% endembed %}
{% endblock head %}
{% block main %}
<section class="article-page">
        <section class="article-page__header">
            <div class="container">
                <h1>Petition: Form the Knox County Department of Fire and Emergency Services</h1>
            </div>
        </section>
        <article class="article-page__body">
            <div class="container">
                <p>In 2019, the University of Tennessee's County Technical Assistance Service (CTAS) extension conducted a study of fire and emergency services in Knox County, Tennessee. Their findings concluded considerable flaws in our county's approach to fire and emergency services.</p>
                <p>
                Here in Knox County, if you live outside the incorporated city limits of Knoxville (living "in the county"), you are serviced by private-sector fire protection entities, one (1) being a for profit company Rural/Metro and two (2) being non-profit organizations. Most of the unincorporated county is serviced by Rural/Metro Fire, while a large portion of southwest Knox County is serviced by Karns Volunteer Fire Department (a combination paid/volunteer agency). A portion of south Knox County where the Knox, Blount, and Sevier County lines intersect is serviced by a volunteer agency: The Seymour Volunteer Fire Department. Technical rescue emergencies are handled by another volunteer agency: The Knox County Rescue Squad. Primary, 911 Emergency Medical Services (EMS) ambulanced are contracted and monopolized by a private ambulance company, American Medical Response (AMR).
                </p>
                <p>
                The study highlighted issues with the subscription-based model of service pertaining to the fire operations. Findings indicated only 40%-50% of households pay the annual subscription fee, bearing the burden of residents who fail to or are unable to pay the subscription fee. While there are consequences of failing to pay a fire subsciption, including several hundred dollars for an EMS first response call and tens of thousands of dollars per-engine/per-hour for a fire, all residents still benefit from the same ISO ratings and coverage. In addition, those who are not residents of Knox County that may experience an emergency while in Knox County still benefit from these services.
                </p>
                <p>
                Many may be unaware that during a medical emergency, our fire department organizations respond to the call along with an ambulance. Firefighters are cross-trained as Emergency Medical Technicians and Paramedics, and they will respond as "first responders" in a fire engine during a medical call. Since AMR avoids penalties by having these first responder programs in place, you cannot just simply decline the fire department being dispatched. Thus, if you didn't pay your subscription fee and need an ambulance, you may be charged both the ambulance bill AND the penalty by the fire department.
                </p>
                <p>
                As it stands today, Knox County has grown vastly in population since the study was conducted. We now have a population of over half-a-million (500,000+) residents with most residing outside the City of Knoxville.
                </p>
            </div>
        </article>
    </section>
{% endblock main %}
{% block scripts %}

<script>
{% endblock scripts %}