{% extends 'partials/base.layout.twig' %}
{% block head %}
    {% from 'partials/head.macro.twig' import head_macro %}
    {{ head_macro('Tennessee Emergency Services Inititative | Problems', 'https://tnesi.org/problems', 'website') }}
{% endblock head %}
{% block main %}
<section class="problems-page">
    <div class="container">
        <h1 class="problems-page__heading">So <span class="big-word-text">MANY</span> issues. (Just look closer!)</h1>
        <p class="problems-page__intro-text">There are multiple issues grappling the public safety community, presenting potential dangers to the general public. Let's take a closer look, shall we?</p>
        <div class="issue-list">
            <div class="issue-tile">
                <h3 class="issue-tile__heading">Lack of Public Awareness and Involvement</h3>
                <div class="issue-tile__body">
                    <p>We go about our day without even the slightest thought about the public safety organizations that protect us. We assume our local government officials have this handled and the systems are already in place when we need them. Little do we know, there are many ailing fire departments and rescue squads today that are lacking adequate resources to properly respond to emergencies. Many rely on outdated vehicles and equipment and operations often go unchecked. Many areas are lacking medically-trained persons that can respond and help until an ambulance arrives on scene. In addition, many of these areas can expect to have EMS response times of 20-30+ minutes.</p>
                    <p>Did you know that many fire departments across the nation do not just respond to fires? Many firefighters are cross-trained as Emergency Medical Technicians (EMTs) and Paramedics. They can respond to medical emergencies and provide emergency care until an ambulance arrives on scene and assumes care. In addition, many fire departments can respond to a variety of other emergencies such as vehicular collisions, hazardous material situations, and a wide array of rescue operations. Although progression and increased capabilities have been seen overtime in fire and emergency services, many areas in Tennessee still lag behind. Many rural volunteer fire departments in Tennessee are limited to the scope of emergencies they can respond to and can often be limited to fire supression only. This leaves voids in other vital services, such as EMS first response, where no other agency will handle either.</p>
                    <p>We don't think of these things until we need them, but when we do, these services are priceless. What if something happened to you or a loved one? Having adequate emergency services can be the difference between life and death, and emergencies are likely to occur unexpectedly. </p>
                </div>
            </div>
            <div class="issue-tile">
                <h3 class="issue-tile__heading">Room for Serious Corruption</h3>
                <div class="issue-tile__body">
                <p>Many of these organizations, especially in areas outside incorporated cities and towns, are non-profit organizations. These are non-governmental entities that can easily go unchecked. Often, leadership is elected internally from within, and there is often little-to-no government or civilian involvement. Lack of transparancy, nepotism, dissolving leadership, and misappropriaion of funds can fly under the radar. </p>
                </div>
            </div>
            <div class="issue-tile">
                <h3 class="issue-tile__heading">Firefighter Shortage Impacting Tennessee</h3>
                <div class="issue-tile__body">
                <p>Tennessee is facing a critical volunteer firefighter shortage, and some fire service agencies are at breaking-points</p>
                <p>Roughly 70% of Tennessee's fire departments are volunteer-run, and public safety resources are being stretched thin as we have become the 15th most populous state in the nation.</p>
                <p>Financially speaking, 42% of the 692 fire departments in Tennessee are classified as either "At-Risk" or "Distressed" based on data from the Tennessee Fire Marshal's Office.</p>
                <p>Counties such as Roane County are seeing ISO ratings rise to eye-popping levels, risking a higher financial burden on residents.</p>
                </div>
            </div>
            <div class="issue-tile">
                <h3 class="issue-tile__heading">Tennessee's Ambulance Desert Problem Placing Lives At Risk</h3>
                <div class="issue-tile__body">
                <p>A 2023 study conducted by the Rural Health Research and Policy Centers found 98 percent of Tennessee's counties contain at least some ambulance deserts, where ambulances are 25 or more minutes away. This places Tennessee as 13th worst state for ambulance deserts in the study as we have become the 15th most populous state in the nation. These rankings even place us behind states like South Dakota, Iowa, and Nebraska.</p>
                </div>
            </div>
            <div class="issue-tile">
                <h3 class="issue-tile__heading">Fire, EMS, and Other Emergency Responders Are Treated Second-Class In Contrast To Law Enforcement</h3>
                <div class="issue-tile__body">
                <p>Law enforcement often receives more attention from politicians, the news media, and from civilans more so than our other much-needed first responders. Policymaking and reforms are weak when addressing issues our other first responders face.</p>
                <p>This isn't criticism of our law enforcement, although ALL of our uniformed first responders (our law enforcement, EMS, firefighters, rescue techs, and E911 dispatchers/call-takers) should be viewed with the same respect, value, and importance as they each provide a vital service to the communities they serve.</p>
                <p>In recent years, EMS joined law enforcement to be deemed as an <em>essential service</em> by law, and rightfully so. Still, fire services have not received the same official declaration codified into the lawbooks.</p>
                </div>
            </div>
            <div class="issue-tile">
                <h3 class="issue-tile__heading">Willingness to Regulate/Punish Without Advocacy</h3>
                <div class="issue-tile__body">
                <p>Regulatory boards are quick to pounce on an EMT or Paramedic when a complaint is filed against them, but very little advocacy is conducted to address the various issues pertaining to our hurting EMS systems.</p>
                <p>It is not uncommon for an EMT or Paramedic to be coerced into working more than 24 hours consecutive hours. Some face retaliation for refusing to stay extra hours, despite the serious risks of performing while drowsy. This poses a serious danger to the patient, the responders, and the general public. </p>
                <p>In addition, off-duty EMS personnel are severely restricted in the skills they can use in the event of emergency because they lack physician oversight. They can face disciplinary action against their EMS license and lose their career and livelihood just because they stopped to help at an accident and used skills beyond basic first aid. </p>
                </div>
            </div>
            <div class="issue-tile">
                <h3 class="issue-tile__heading">Lack of First Responder Programs With Local Fire Departments and Rescue Organizations</h3>
                <div class="issue-tile__body">
                <p>Many areas still lack non-transport EMS first responders, individuals who are medically-trained and can arrive quickly to provide assessment and care until an ambulance arrives on scene. Coupled with long ambulance response times, tragedy occurs when seconds count. Did you know early access to CPR and an AED is critical for the cardiac chain of survivial?</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
{% block scripts %}{% endblock scripts %}