{% extends 'partials/base.layout.twig' %}
{% block head %}
    {% from 'partials/head.macro.twig' import head_macro %}
    {{ head_macro('Tennessee Emergency Services Inititative | Solutions', 'https://tnesi.org/solutions', 'website') }}
{% endblock head %}
{% block main %}
    <section class="solutions-page">
        <div class="container">
            <h1 class="solutions-page__heading">Potential Solutions</h1>
            <p class="solutions-page__intro-text">We cannot allow critical issues affecting our heroes and public safety organizations to go unchecked.</p>
            <div class="solution-list">
                <div class="solution-tile">
                    <h3 class="solution-tile__heading">Recognize Fire, EMS, and Rescue as Integral Public Safety Functions</h3>
                    <div class="solution-tile__body">
                        <p>While Tennessee just recently recognized EMS as an essential service, there is still a lot to be done. Attitudes still do not reflect the recent essential service declaration.</p>
                        <p>Legislators need to recognize and approach emergency services with the same respect and importance as law enforcement. Leaders need to look more closely into the woes all our first responders face. We are all in this together. </p>
                    </div>
                </div>
                <div class="solution-tile">
                    <h3 class="solution-tile__heading">Offer Incentives For Volunteers</h3>
                    <div class="solution-tile__body">
                    <p>Many of these essential services are provided by volunteers. Some states offer incentives to encourage recruitment and retention of volunteers. These incentives can include any of the following:</p>
                    <ul class="incentive-list">
                        <li class="incentive-item" aria-label="incentive list item">
                            <img class="incentive-item__marker" src="/assets/icons/checkbox_icon.svg" alt="checkbox icon">
                            <span>reduced property taxes</span>
                        </li>
                        <li class="incentive-item" aria-label="incentive list item">
                            <img class="incentive-item__marker" src="/assets/icons/checkbox_icon.svg" alt="checkbox icon">
                            <span>reduced vehicle registration fees</span>
                        </li>
                        <li class="incentive-item" aria-label="incentive list item">
                            <img class="incentive-item__marker" src="/assets/icons/checkbox_icon.svg" alt="checkbox icon">
                            <span>retirement pensions</span>
                        </li>
                        <li class="incentive-item" aria-label="incentive list item">
                            <img class="incentive-item__marker" src="/assets/icons/checkbox_icon.svg" alt="checkbox icon">
                            <span>free or reduced tuition at state colleges, universities, and trade schools</span>
                        </li>
                        <li class="incentive-item" aria-label="incentive list item">
                            <img class="incentive-item__marker" src="/assets/icons/checkbox_icon.svg" alt="checkbox icon">
                            <span>training program reimbursements</span>
                        </li>
                        <li class="incentive-item" aria-label="incentive list item">
                            <img class="incentive-item__marker" src="/assets/icons/checkbox_icon.svg" alt="checkbox icon">
                            <span>scholarships</span>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="solution-tile">
                    <h3 class="solution-tile__heading">Consider Stipends, a Pay-Per-Call Model, and Expense Reimbursements</h3>
                    <div class="solution-tile__body">
                        <p>With a critical shortage of volunteers while on tight county budgets, consider smaller means of compensation and reimbursements to help encourage recruitment and retention.</p>
                        <p>First responders can incur expenses with travel, responses in privately-owned vehicles, training, and gear. Consider small monetary payments to help cover personal costs and perhaps a small reward for each successful run.</p>
                    </div>
                </div>
                <div class="solution-tile">
                    <h3 class="solution-tile__heading">Consider Special Purpose Districts to Fill Voids</h3>
                    <div class="solution-tile__body">
                    <p>Special Purpose Districts are autonomous government entities that serve a singular purpose. They are often overseen by a board of directors, elected by citizens in the district, appointed by other local leaders, or a combination of both. They provide more opportunities for checks and balances. These entities exist for utilities (aka Utility Boards) and school systems throughout Tennessee, but they are non-existant for emergency services. These districts can expand or retract across multiple counties or municipalities, making them more flexible in terms of geographical coverage. </p>
                    <p>Many county governmental bodies do not want to handle fire and emergency services. Many do not even fund these services, leaving non-profit and for-profit entities to fill the voids with a reliance on generous donations, fundraiser earnings, and/or subsciption fees.</p>
                    </div>
                </div>
                <div class="solution-tile">
                    <h3 class="solution-tile__heading">Offer More Advocacy and Lifting of Red Tape</h3>
                    <div class="solution-tile__body">
                    <p>The Tennessee EMS Board should expand its functions to provide more advocacy. State and local leaders need to be more proactive in addressing issues emergency services face in Tennessee. </p>
                    </div>
                </div>
                <div class="solution-tile">
                    <h3 class="solution-tile__heading">Offer More Advocacy and Lifting of Red Tape</h3>
                    <div class="solution-tile__body">
                    <p>The Tennessee EMS Board should expand its functions to provide more advocacy. State and local leaders need to be more proactive in addressing issues emergency services face in Tennessee. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
{% block scripts %}{% endblock scripts %}