{% extends 'partials/base.layout.twig' %}
{% block head %}
    {% from 'partials/head.macro.twig' import head_macro %}
    {{ head_macro('Tennessee Emergency Services Inititative | Take Action', 'https://tnesi.org/take-action', 'website') }}
{% endblock head %}
{% block main %}
<section class="take-action-page">
        <div class="container">
            <h1 class="take-action-page__heading">Take Action</h1>
            <p class="take-action-page__intro-text">We cannot do this without you! Consider the actions below:</p>
            <div class="action-list">
                <div class="action-tile">
                    <h3 class="action-tile__heading">Familiarize Yourself with the Agencies Serving Your Area</h3>
                    <div class="action-tile__body">
                        <p>Do not wait until tragedy strikes to voice your concerns. Be proactive now! Tell your state and local leaders to address the issues with emergency services in your area.</p>
                        <p>Identify who your first responder agencies are in your area and their roles. Know your nearest fire or EMS station. Inquire with these agencies.</p>
                    </div>
                </div>
                <div class="action-tile">
                    <h3 class="action-tile__heading">Hold Your Local and State Leaders Accountable</h3>
                    <div class="action-tile__body">
                        <p>Do not wait until tragedy strikes to voice your concerns. Be proactive now! Tell your state and local leaders to address the issues with emergency services in your area.</p>
                        <p>Use the legislator search tool: <a href="https://www.tn.gov/directory/find-your-legislator.html">https://www.tn.gov/directory/find-your-legislator.html</a></p>
                    </div>
                </div>
                <div class="action-tile">
                    <h3 class="action-tile__heading">Donate or Pay Your Subsciption Fees Where Applicable</h3>
                    <div class="action-tile__body">
                    <p>For organizations that rely on subscription fees, make sure you pay your subscription or you can be facing thousands of dollars in fees if an emergency ever occurs.</p>
                    <p>For organizations that rely solely on donations, consider giving a contribution. But learn about your local agencies before donating.</p>
                    <p>If you suspect fraud or embezelment, contact the state comptroller office.</p>
                    <p>Report fraud, waste, or abuse: <a href="https://comptroller.tn.gov/office-functions/investigations/fraud-waste-and-abuse.html">https://comptroller.tn.gov/office-functions/investigations/fraud-waste-and-abuse.html</a></p>
                    </div>
                </div>
                <div class="action-tile">
                    <h3 class="action-tile__heading">Most Importantly, Say Thanks to The Men and Women Who Keep Us Safe</h3>
                    <div class="action-tile__body">
                        <p>We thank ALL our uniformed first responder heroes, whether they are paid or unpaid volunteers. Let's share our gratitude towards our law enforcement, firefighters, Emergency Medical Technicians (EMTs), Paramedics, Rescue Technicians, and E911 call center workers. Thank you for all that you do, and your efforts are most certainly heard and appreciated!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
{% block scripts %}{% endblock scripts %}