<section class="about-section">
        <img src="./assets/img/hayden_bradfield.webp" alt="image of Hayden Bradfield" class="about-section__image" />
        <div class="about-section__text">
            <div class="container">
                <p>Ever since high school, I grew frustrated by the lack of support towards our first responders by our leaders. I knew so much more could be done. I briefly served as an EMT in Tennessee, and I was able to identify many issues our emergency services across Tennessee face. It is time to take a stand! Join me as I bring awareness to these issues.</p>
                <p class="mt-2"><a href="/about-hayden-bradfield" class="about-link">About Me &rarr;</a></p>
            </div>
        </div>
</section>