<section class="articles-section">
    <h2 class="articles-section__heading">Featured Articles</h2>
    <div class="articles-list">
        {% for article in featured_articles %}
        <a class="articles-tile" href="/articles/{{ article.slug }}" data-aos="fade-up" data-aos-duration="500">
            <img src="{{ article.tile_image_uri }}" alt="{{ article.tile_image_alt }}" class="articles-tile__image" />
            <div class="articles-tile__body">
                <h3>{{ article.article_title }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
    <a href="/articles" class="articles-see-all-btn" data-aos="fade-up">See All &rarr;</a>
</section>