<section class="articles-section">
    <h2 class="articles-section__heading">Featured Articles</h2>
    <div class="articles-list">
        <a class="articles-tile" href="/articles/why_am_I_doing_this.html" data-aos="fade-up" data-aos-duration="500">
            <img src="./assets/img/me.webp" alt="Thumbnail Image of Hayden Bradfield" class="articles-tile__image" />
            <div class="articles-tile__body">
                <h3>Why Am I Doing This?</h3>
            </div>
        </a>
        <a class="articles-tile" href="/articles/updates_on_legslation_to_increase_assault_penalties.html" data-aos="fade-up" data-aos-duration="500">
            <img src="./assets/img/jade_collister_thumbnail.webp" alt="Thumbnail of Presenter Jade Collister" class="articles-tile__image" />
            <div class="articles-tile__body">
                <h3>Important Updates on Legislation Pertaining to Assaults On Fire, EMS</h3>
            </div>
        </a>
        <a class="articles-tile" href="/articles/looming_public_safety_crisis_tennessee.html" data-aos="fade-up" data-aos-duration="500">
            <img src="./assets/img/fire_crisis_collage.jpg" alt="Fire Service Crisis Collage Thumbnail" class="articles-tile__image" />
            <div class="articles-tile__body">
                <h3>A Dire Public Safety Nightmare is Looming in Tennessee</h3>
            </div>
        </a>
    </div>
    <a href="/articles" class="articles-see-all-btn" data-aos="fade-up">See All &rarr;</a>
</section>